<!DOCTYPE html>
<html>

<head>
  <style>
    .task-table tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .task-table th.table-header {
      background-color: #f0f8ff;
    }

    th.table-header {
      background-color: #f0f8ff;
    }

    .task-table td {
      text-align: center;
    }
  </style>

  <!-- Chartist.jsのスクリプト -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

</head>

<body>

  <h2><%= @task.title %></h2>

  <div>
    <%= line_chart @task.progresses.order(:date).pluck(:date, :progress), download: true, suffix: '%' %>
  </div>

  <br>

  <div>
    <table class="table task-table table-bordered table-hover table-striped" style="width: 400px;">
      <tr>
        <th class="bg-dark text-white">進捗度</th>
        <td><%= @task.progress %>%</td>
      </tr>
      <tr>
        <th class="bg-dark text-white">コメント</th>
        <td><%= @task.comment %></td>
      </tr>
      <tr>
        <th class="bg-dark text-white">日付</th>
        <td><%= @task.date %></td>
      </tr>
    </table>
  </div>

  <br>
  <h2>タスク更新</h2>
  <%= form_with(model: @task, url: update_progress_path(@task), method: :patch) do |form| %>
    <table class="table" style="width: 600px;">
      <tr>
        <th>進捗度</th>
        <td><%= form.number_field :progress, value: nil, min: 0, max: 100 %></td>
      </tr>
      <tr>
        <th>コメント</th>
        <td><%= form.text_area :comment, value: nil %></td>
      </tr>
      <tr>
        <th>日付</th>
        <td><%= form.date_field :date %></td>
      </tr>
      <tr>
        <td colspan="2" class="actions">
          <%= form.submit '更新', class: "btn btn-outline-success" %>
          <%= link_to '戻る', tasks_path, class: "btn btn-outline-dark" %>
        </td>
      </tr>
    </table>
  <% end %>


  <br><br>
  <h2>進捗度履歴</h2>

  <table class="table task-table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th class="bg-dark text-white">進捗度</th>
        <th class="bg-dark text-white">コメント</th>
        <th class="bg-dark text-white">日付</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @task.progresses.reverse_each do |progress| %>
        <tr>
          <td><%= progress.progress %>%</td>
          <td><%= progress.comment %></td>
          <td><%= progress.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

